<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NuevaImagen_Desktop.Properties.Settings.nuevaImagenConString"
            connectionString="Data Source=DESKTOP-9RB7KM3\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NuevaImagen_Desktop.Properties.Settings.NuevaImagenConnectionString"
            connectionString="Data Source=DESKTOP-9RB7KM3;Initial Catalog=NuevaImagen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>